<ion-card>

  <ion-list>
    <ion-list-header>
      People you may know
    </ion-list-header>

    <ion-item *ngFor="let people of peopleYouMayKnow">
      <ion-avatar slot="start">
        <img src="{{people.profile}}" />
      </ion-avatar>
      <ion-label>
        <h3>{{people.title}}</h3>
        <p>{{people.description}}</p>
        <a href="#" color="success" class="font-size-12">
          {{people.mutualfriends}}
        </a>
      </ion-label>
      <a color="success" href="#">
        <ion-icon name="person-circle-outline" size="large"></ion-icon>
      </a>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col offset="4.5">
        <a color="success" class="button button-success ion-text-right" href="#">
          See more
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-card>