<ion-card>

  <ion-list>
    <ion-list-header>
      Top 10 courses
    </ion-list-header>

    <ion-item *ngFor="let course of courses">
      <ion-avatar slot="start">
        <img src="{{course.profile}}" />
      </ion-avatar>
      <ion-label>
        <h3>{{course.title}}</h3>
        <p>{{course.description}}</p>
      </ion-label>
    </ion-item>
    
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col offset="4.8">
        <a color="success" class="button button-success ion-text-right">
          See all
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-card>