ion-button {
  --border-radius: 0px;
  }

.header-md::after {
  background-image: none;
  }



  ion-header.md.header-md.header-translucent.header-collapse-none.header-translucent-md.hydrated
  {
    background-color: #f4f5f8;
  }

  ion-content
  {
    --background: #f4f5f8;
  }