<ion-header [translucent]="true">
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="1" class="ion-align-self-center">
          <a color="success" href="#">
            <ion-icon name="chevron-back-outline" size="large" color="primary"></ion-icon>
          </a>
        </ion-col>
        <ion-col>
          <ion-searchbar></ion-searchbar>
        </ion-col>
      </ion-row>
      <ion-slides [options]="slideOpts">
        <ion-slide>
          <ion-button fill="outline" color="medium" size="small" class="ion-margin-start ion-text-capitalize"
            *ngFor="let searchButton of searhButtons">{{searchButton.name}}</ion-button>
        </ion-slide>
      </ion-slides>
    </ion-grid>
  </ion-card>
</ion-header>

<ion-content>

  <app-recent-searches></app-recent-searches>
  <app-people-you-may-know></app-people-you-may-know>
  <app-top-ten-courses></app-top-ten-courses>
  <app-latest-articles></app-latest-articles>

  <ion-header collapse="condense">
    <ion-grid>
      <ion-row>
        <ion-col size="1" class="ion-align-self-center">
          <ion-icon name="chevron-back-outline" size="large" color="primary"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-searchbar></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>
</ion-content>